@{
    Layout = null;
}

@model IEnumerable<PhotoFundao.Models.Photo>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    //@Html.
                </td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
